extends layout 

block content
    .controller
        h1 Access Code 
        h2.accessCode= accessCode
        p for downloading, share this code with your contacts
        p note! you also got this access code to the provided email
        a(href="/") HOME 