extends layout

block content
    .container 
        h1 Download File
        form.downloadForm(action="/download", method="POST")
            input.codeFeild(type="text" name="accessCode" maxlength="6" minlength="6" required)
            p.message= message
            button.submit(type="submit") Download