extends layout

block append script
    script(defer src="javascript/index.js") 

block content
    .container 
        h1 Upload File
        form.uploadForm(action="/upload", method="POST" enctype="multipart/form-data")
            label.email(for="email") Enter email 
            input.emailFeild(type="email" placeholder="email" name="email" required)
            .dragDropArea 
                img.fileIcon(src="../icons/file-arrow-up-solid.svg")
                p Drop file here
                p.fileName
                label.fileInputBtn(for="fileInput") browse files 
                input#fileInput(type="file" style="display:none;" name="file" required onchange="javascript:updateChoice()")
            button.submit(type="submit") Uploud